{% extends "layout2.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

  <main id="main">

    <!-- ======= About Section ======= -->
    <br>
    <br>
    <br>
    <section id="form" class="form">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class= "mx-auto w-auto">
                <button class="get-started-btn2 mx-auto w-auto" type="submit" style="display:block">Login</button>
            </div>
            <br>
            <div class="mx-auto w-auto auth-page__footer">
            <p class="mx-auto w-auto" style="text-align: center">Don't have an account?
            <a href="/register"><span>Sign Up</span></a></p>
          </div>
            </form>
          </div>
        </div>
        </div>

        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->

{% endblock %}
